
.car-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.car-card {
  display: flex;
  align-items: flex-start;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  overflow: hidden;
  width: 90%;
  max-width: 900px;
}

.car-image {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.car-price {
  font-size: 1.1em;
  font-weight: bold;
  color: #27ae60;
  margin: 10px 0;
}

.car-details h3 {
  margin: 0 0 10px;
  color:#085cf7;
  font-weight:bolder;
  background-color: aliceblue;
  text-align: center;
}

.car-details p {
  margin: 10px 0;
  color: #333;
  font-weight: bold;
}

.price-details {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 10px 0;
}



.car-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  
}

.btn {
  background-color: #f77b08;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 0.9em;

}

.btn:hover {
  background-color: #e66a00;
}

.inquiry-btn {
  background-color: #ffa500;
}

.buy-now-btn {
  background-color: #32cd32;
}
.response-message {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.response-message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.response-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.response-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}